
body{
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    
    }

.base{
    place-content: center;
}

header{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 4rem;
    background-color: rgb(81, 82, 81);
    color: white;
}

.imagenMetronomos{
    width: 3rem;
    margin-bottom: -0.3rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
}

.contenedorInput{
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
}

.botonera{
    text-align: center;
}

button{
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    color: white;
    background-color: rgb(56, 168, 34);
    text-align: center;
    border-radius: 0rem;
    border-color: rgb(36, 126, 18);
    padding: 0.5rem;    
    box-shadow: 0px 0px 0.3rem  black;

}
button:active{
    animation-name: clickboton;
    animation-duration: 200ms;}

@keyframes clickboton{
    100%{
        transform: scale(0.95);
    }
}


.aumentar_disminuir_boton{
    padding-top: 0.01rem;
    padding-bottom: 0.1rem;
    border-radius: 0rem;
    margin-bottom: 1rem;
}

.botonTap{
    font-size: 4rem;
    padding: 2rem;
    background-color: rgb(46, 46, 46);
    border-color: rgb(88, 87, 87);
}

.botonTap:active{
    animation-name: tapeo;
    animation-duration: 300ms;
}

@keyframes tapeo{
    100%{
        opacity: calc(0.9);
        transform: scale(0.9);
    }
}

.botonDetener{
    background-color: rgb(192, 37, 37);
    border-color: rgb(124, 30, 30);
    position: relative;
    bottom: 3.5rem;

}

.botonIniciar{
    background-color:rgb(56, 168, 34);
    border-color: rgb(36, 126, 18);
    position: relative;
    bottom: 3.5rem;

}

input{
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Permanent Marker', cursive;;
    font-size: 5rem;
    width: 9.9rem;
    border-radius: 0rem;
    border-color: rgb(0, 0, 0);
    border-style:hidden;
    ;
}

.estilosSecuencia{
    color: white;
    background-color: rgb(46, 46, 46);
    margin-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 3rem;
    font-size: 2.5rem;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }
